Source: ros-melodic-kinect2-calibration
Section: misc
Priority: optional
Maintainer: Manuel Fernandez-Carmona <mfernandezcarmona@lincoln.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-compressed-depth-image-transport, ros-melodic-compressed-image-transport, ros-melodic-cv-bridge, ros-melodic-image-transport, ros-melodic-kinect2-bridge, ros-melodic-message-filters, ros-melodic-roscpp, ros-melodic-rostime, ros-melodic-sensor-msgs, ros-melodic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-kinect2-calibration
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-compressed-depth-image-transport, ros-melodic-compressed-image-transport, ros-melodic-cv-bridge, ros-melodic-image-transport, ros-melodic-message-filters, ros-melodic-message-runtime, ros-melodic-roscpp, ros-melodic-rostime, ros-melodic-sensor-msgs, ros-melodic-std-msgs
Description: The kinect2_calibration package
