Source: ros-kinetic-iai-kinect2
Section: misc
Priority: extra
Maintainer: Manuel Fernandez-Carmona <mfernandezcarmona@lincoln.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-iai-kinect2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-kinect2-bridge, ros-kinetic-kinect2-calibration, ros-kinetic-kinect2-registration, ros-kinetic-kinect2-viewer
Description: The iai_kinect2 metapackage
